*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height: 100vh;
    background: linear-gradient(135deg, #FBD3E9, #BB377D);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 30vw;
    height: 30vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.displays,.buttons{
    display:flex;
}
.displays{
    gap:1.75vw;
    font-size:3vw;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2.5vw;
    cursor:pointer;
}
.reset{
    background:yellow;
    width:3.5vw;
    height:3.5vw;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:black;
    
}
.start{
    background:green;
    width:4.5vw;
    height:4.5vw;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:black;

}
.pause{
    background:red;
    width:3.5vw;
    height:3.5vw;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:black;
}

.reset:hover,.start:hover,.pause:hover{
    transform: scale(1.1);
}